@model List<GroupNewsModel>
@{
    ViewBag.Title = "Mi Influencer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<div class="row">
    <div class="col-md-12">
        <h2>Mi Influencer</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Art&iacute;culos<button class="btn btn-default btn-xs pull-right" data-toggle="tooltip" data-placement="bottom" title="N&uacute;mero de visitas generadas por art&iacute;culo en cada red social. ">?</button>
            </div>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th class="text-center"><img src="~/Content/images/facebook_32.png" /></th>
                        <th class="text-center"><img src="~/Content/images/twitter_32.png" /></th>
                        <th class="text-center"><img src="~/Content/images/googleplus_32.png" /></th>
                        <th class="text-center"><img src="~/Content/images/linkedin_32.png" /></th>
                        <th class="text-center">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{var total = 0;}
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="http://www.expose.mx/noticia/@item.Id/@item.Permalink" target="_blank">
                                    @item.Title
                                </a>
                            </td>
                            <td class="text-center">@item.Facebook</td>
                            <td class="text-center">@item.Twitter</td>
                            <td class="text-center">@item.Google</td>
                            <td class="text-center">@item.LinkedIn</td>
                            <td class="text-center"><span class="badge badge-important">@item.Count</span></td>
                        </tr>
                        { total = total + item.Count; }
                    }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-center">Visitas totales</td>
                        <td class="text-center"><span class="badge badge-important">@total</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




